.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 30px;
    position: relative;
    display: inline-block;
  }

  &::after {
    content: '.';
    position: absolute;
    font-size: 18px;
    top: -50%;
    transform: translate(100%, 25%);
    color: #494e62;
    right: -12px;
  }

  &:last-child {
    &::after {
      content: ' ';
    }
  }

  &__link {
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }
}