/* colors */
$primary-color: #f06c64;
$secondary-color: #2d303a;

/* fonts */
$primary-font-color: #666d89;
$secondary-font-color: #f0d8d9;
$descr-font-color: #767e9e;
$font-family: 'Lato', sans-serif;